.tomato.animate {
  transform: translateY(0em);
  transition: all 0.5s 0.35s ease-out;
  will-change: all;
}

.tomato.animate.active {
  transform: translateY(14em);
}

/* From: How to continuously rotate an image using CSS
https://flaviocopes.com/rotate-image/*/
.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.slide.animate {
  opacity: 0;
  transform: translateX(2em);
  transition: all 0.5s 0.35s ease-out;
  will-change: all;
}

.slide.animate.active {
  opacity: 1;
  transform: translateX(0);
}

.slide-up {
  opacity: 0;
  transform: translateY(3em);
  transition: all 0.3s 0.5s ease-out;
  will-change: all;
}

.slide-up .active {
  opacity: 1;
  transform: translateY(0);
}
@media only screen and (min-width: 992px) {
  .tomato.animate.active {
    transform: translateY(30em);
  }
}
