:root {
  /* palette */
  --red: #bf0607;
  --plum: #600218;
  --teal: #025b6d;
  --chartreuse: #7f961a;
  --lime: #d4d80e;
  --black: #0000;
  --beige: #eeeae5;

  /* typeface */
  --bodyFont: "Roboto", sans-serif;
  --specialFont: "Xanh Mono", monospace;

  /* page margins */
  --sideMargins: 0% 5%;
}

/* paragraph styles */
.style_h1 {
  font-size: 3.5rem;
  line-height: 0.9;
}

.style_h2 {
  font-size: 1rem;
  font-weight: 500;
}

.style_h1_accent {
  font-family: var(--specialFont);
  font-weight: lighter;
  font-size: 5.8rem;
}

.style_h2_accent {
  font-family: var(--specialFont);
  font-size: 2rem;
  font-weight: lighter;
  text-transform: uppercase;
}
.style_h3_accent {
  font-family: var(--specialFont);
  font-size: 1.5rem;
  font-weight: lighter;
  text-transform: uppercase;
}

.style_body_accent_red {
  font-weight: 600;
  color: var(--red);
}

.style_body_accent_white {
  font-weight: 600;
  color: var(--beige);
}

.style_body_accent_black {
  font-weight: 600;
}

.main_section {
  padding: 0%;
}

.style_body {
  font-size: 1rem;
}
/* ----------s1 */
.s1_header {
  display: grid;
  height: 100vh;
  width: 100%;
  padding-top: 0%;
  padding-left: 10%;

  grid-template-columns: 0.5fr 1fr 6fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.s1_header h1 {
  grid-column: 2/3;
  grid-row: 1/5;
  text-align: right;

  transform: rotate(-180deg);
  writing-mode: vertical-rl;

  color: var(--plum);
}
.s1_header h2 {
  grid-column: 1/2;
  grid-row: 3/5;

  transform: rotate(-180deg);
  writing-mode: vertical-rl;

  color: var(--plum);
}

.s1_header h3 {
  grid-row: 4/5;
  grid-column: 3/5;
}

/* --------s2 */

#s2_1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#s2_1 h1 {
  color: var(--plum);
}

#globalFLW {
  width: 50%;
  padding-left: 10%;
}

#s2 {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
#s2 h2 {
  grid-row: 2/3;
  grid-column: 2/6;
  align-self: flex-start;
  font-size: 2.3rem;
  padding: 2%;
}

#canadaFLW {
  justify-self: center;
  align-self: center;
  width: 70%;
  grid-column: 4/6;
  grid-row: 1/2;

  padding-top: 10%;
  padding-right: 10%;
}

#fiveTomatoes {
  z-index: -1;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  grid-row: 1/2;
  grid-column: 1/4;

  /* padding: 15%; */
}
#fiveTomatoes img {
  width: 15%;

  padding: 1%;
}

/* --------s3 */
#sliderImg {
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  position: fixed;
  z-index: -10;
  background-color: var(--teal);
}

#sliderFrontImg {
  top: -20px;
  left: -30px;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -5;
}

#testImg {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: url("../assets/pictures/eiffelTest.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -5;
}

/* --------s4 */

#s4 {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#s4 p.style_h2 {
  color: var(--plum);
  grid-column: 1/2;
  grid-row: 1/4;
  align-self: center;
  width: 80%;
}

#s4 p.style_h1_accent {
  font-size: 9rem;
  color: var(--chartreuse);
  grid-column: 2/4;
  grid-row: 3/5;
}

#s4 p.style_h2_accent {
  color: var(--plum);
  grid-column: 2/5;
  grid-row: 5/6;
  align-self: center;
}

#s4 p.style_body {
  grid-column: 3/5;
  grid-row: 1/3;

  align-self: center;
  justify-content: center;
  padding-left: 40%;
  padding-right: 20%;
}

/* ---------s5 */

#s5 {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  grid-template-rows: 1fr 1fr 0.5fr;
}

#s5 p.style_h2_accent {
  grid-row: 1/4;
  grid-column: 1/2;
  transform: rotate(-180deg);
  writing-mode: vertical-rl;
  text-align: center;

  font-size: 1rem;
}

#s5 p.para1 {
  grid-row: 1/2;
  grid-column: 2/3;
  align-self: flex-end;
  /* justify-self: center; */
  width: 60%;
}

#s5 p.para2 {
  grid-row: 2/4;
  grid-column: 2/3;
  align-self: center;
  justify-self: center;
  width: 60%;
}

#s5 p.style_h1_accent {
  grid-column: 3/4;
  grid-row: 2/3;
  font-size: 5rem;
  color: var(--red);
  align-self: flex-end;
}

#s5 p.style_h3_accent {
  font-size: 1rem;
  grid-column: 3/4;
  grid-row: 3/4;
}

/* -------s6 */

#s6 {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

#sign {
  grid-column: 1/2;
  grid-row: 3/4;
  align-self: flex-end;
}

#stat {
  grid-column: 2/4;
  grid-row: 2/4;
  font-size: 12rem;
  color: var(--teal);
}

#s6 p.style_h3_accent {
  grid-column: 2/4;
  grid-row: 4/5;
  font-size: 1rem;
  padding-top: 2%;
}

#s6 p.style_body {
  width: 50%;
  grid-column: 3/4;
  grid-row: 1/3;
  padding-top: 10%;
  justify-self: center;
}

/* ---------s7 */

#s7 p.title.style_h2 {
  width: 30%;
  padding: 5%;
  text-transform: uppercase;
}

#s7 .stat {
  text-transform: uppercase;
  padding-left: 50%;
  display: grid;
  grid-template-columns: 0.5fr 4fr;
  grid-template-rows: 0.5fr 4fr;
  width: 50vh;
  height: 45vh;
}

#category {
  grid-column: 1/3;
  grid-row: 1/2;
}

#volume {
  grid-column: 1/2;
  grid-row: 2/3;
  transform: rotate(-180deg);
  writing-mode: vertical-rl;
}

#percentage {
  margin-top: 10%;
  font-size: 10rem;
  align-self: flex-end;
  line-height: 0.9;
  margin-left: 10%;
}

/* --------s8 */

#s8 {
  display: flex;
  /* height: 100vh;
  width: 100vw; */
}

#FAO {
  width: 100%;
  padding: 10%;

  color: var(--beige);

  background-color: var(--red);

  justify-content: center;
}

#distinction {
  padding: 50% 15% 15% 15%;
  font-weight: 300;

  justify-content: center;
  align-self: center;
}

/* -------s9 */

#s9 {
  display: flex;
  height: 100vh;
  width: 100vw;

  /*
Perfect Full Page Background Image
 https://css-tricks.com/perfect-full-page-background-image/ */
  background: url("../assets/pictures/map.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#poor {
  padding: 5%;
}

#poor p.style_h3_accent {
  padding: 5%;
  font-size: 0.9rem;
  background-color: rgba(238, 234, 229, 0.9);
}

#rich {
  align-self: flex-end;
  padding: 5% 2% 2% 15%;
}

#rich p {
  padding: 5%;
  background-color: rgba(238, 234, 229, 0.9);
  font-size: 0.9rem;
}

#rich span.style_h3_accent {
  font-size: 0.95rem;
}

/* ------s10 */
#s10 {
  width: 100vw;
  height: 100vh;
  padding: 10%;
}

/*-------s11 */

#s11 {
  display: flex;
  align-items: center;
}

#question {
  width: 40%;
  padding: 0% 5%;
}

#numberScroll {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 40%;
  align-items: center;
}

/* -------s12 */

#s12 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#s12 p {
  width: 70%;
  font-size: 1.5rem;
}

/* -------s13 */

#s13 {
  display: flex;
  height: 100vh;
  overflow: hidden;
}
#s13 h2.style_h3_accent {
  transform: rotate(-180deg);
  writing-mode: vertical-rl;
  text-align: center;
  font-size: 1rem;
}

#s13 h1 {
  padding-left: 2%;
}
#s13 .bodyText,
#s15 .bodyText {
  padding: 2%;
}

#s13 .wrapper,
#s14 .wrapper,
#s15 .wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
}

#s13 .wrapper .style_h2,
#s14 .wrapper .style_h2,
#s15 .wrapper .style_h2 {
  font-size: 0.9rem;
  padding: 2%;
}

#s13 .wrapperText,
#s14 .wrapperText,
#s15 .wrapperText {
  width: 300%;
}

#s13 p,
#s14 p,
#s15 p {
  padding: 2%;
}

#s14 {
  padding: 7%;
  height: 100vh;
  overflow: hidden;
}

#s15 {
  height: 100vh;
  overflow: hidden;
}
/*_ Medium devices (landscape tablets, 768px and up) _*/
@media only screen and (min-width: 768px) {
  #s1 {
    padding-left: 5%;
  }
  #s2_1 h1 {
    font-size: 8rem;
  }

  #globalFLW {
    font-size: 1.5rem;
  }

  #s2 h1 {
    font-size: 8rem;
  }

  #s2 h2 {
    font-size: 3rem;
  }

  /* -----s4 */
  #s4 p.style_h2 {
    width: 60%;
    font-size: 1rem;
  }
}

/*_ Large devices (laptops/desktops, 992px and up) _*/
@media only screen and (min-width: 992px) {
  .style_h1 {
    font-size: 6.5rem;
  }
  .style_h2_accent {
    font-size: 4rem;
  }

  .style_h2 {
    font-size: 2rem;
  }

  /* ----------s1 */
  .s1_header {
    display: grid;
    height: 100vh;
    width: 100%;
    padding: 0%;

    grid-template-columns: 0.5fr 1fr 6fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .s1_header h1 {
    grid-column: 2/3;
    grid-row: 1/5;
    text-align: right;

    transform: rotate(-180deg);
    writing-mode: vertical-rl;
  }
  .s1_header h2 {
    grid-column: 1/2;
    grid-row: 3/5;

    transform: rotate(-180deg);
    writing-mode: vertical-rl;
  }

  .s1_header h3 {
    grid-row: 4/5;
    grid-column: 3/5;
  }

  /* --------s2 */
  #s2_1 h1 {
    font-size: 10rem;
  }

  #globalFLW {
    font-size: 2rem;
  }

  .style_body {
    font-size: 1.6rem;
  }

  #s2 h1 {
    align-self: flex-end;
    font-size: 15rem;
  }
  #s2 h2 {
    font-size: 4rem;
    padding-bottom: 10%;
  }
  #globalFLW {
    padding-right: 15%;
    width: 70%;
  }

  /* ------s4 */
  #s4 p.style_h2 {
    width: 80%;
    padding-left: 5%;
    font-size: 1.5rem;
  }

  #s4 p.style_h1_accent {
    font-size: 19rem;
  }

  /* --------s5 */

  #s5 {
    padding-left: 10%;
  }
  #s5 p.style_h2_accent,
  #s5 p.style_h3_accent {
    font-size: 2rem;
  }

  #s5 p.style_h1_accent {
    font-size: 12rem;
  }

  /* --------s6 */
  #sign {
    align-self: center;
    justify-self: center;
  }
  #stat {
    font-size: 16rem;
    align-self: flex-end;
    padding-top: 60%;
  }

  #s6 p.style_h3_accent {
    padding-top: 0%;
    font-size: 2rem;
    align-self: flex-start;
  }

  /* -------s7 */
  #s7 .stat {
    padding-left: 60%;
  }

  #volume {
    font-size: 1.5rem;
  }
  #percentage {
    font-size: 14rem;
  }

  /* ------s8 */
  #FAO {
    font-size: 2rem;
  }

  #distinction {
    padding-top: 70vh;
    width: 50vw;
    font-size: 1.5rem;
  }

  /* ------s9 */

  #poor {
    width: 100%;
  }

  #poor p.style_h3_accent {
    font-size: 1.5rem;
  }

  #rich {
    padding-left: 10%;
  }
  #rich p {
    font-size: 1.5rem;
  }

  #rich span.style_h3_accent {
    font-size: 2.2rem;
  }

  /* ------s10 */
  #s10 {
    font-size: 2rem;
  }

  /* ------s11 */
  #question {
    font-size: 2rem;
  }

  #wasteValue {
    font-size: 18rem;
  }

  /* -----s12 */
  #s12 p {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1440px) {
  #s2_1 h1 {
    font-size: 13rem;
  }

  #globalFLW {
    font-size: 2.5rem;
  }
  #s2 h2 {
    font-size: 5rem;
  }

  #stat {
    font-size: 25rem;
  }

  /* ------s9 */
  #poor p.style_h3_accent {
    font-size: 2rem;
  }
  #rich p {
    font-size: 2rem;
  }

  #rich span.style_h3_accent {
    font-size: 3rem;
  }

  /* -----s12 */
  #s12 p {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 1920px) {
  .style_h1 {
    font-size: 10rem;
  }

  .style_h1_accent {
    font-size: 10rem;
  }

  /* ------s2 */
  #s2_1 h1 {
    font-size: 15rem;
  }

  #globalFLW {
    font-size: 3.5rem;
  }
  #s2 h1 {
    font-size: 20rem;
  }

  #s2 h2 {
    font-size: 6rem;
  }

  .style_h2 {
    font-size: 3rem;
  }
  .style_body {
    font-size: 2.5rem;
  }

  /* ------s4 */
  #s4 p.style_h2 {
    font-size: 3rem;
  }

  #s4 p.style_h1_accent {
    font-size: 26rem;
  }

  #s4 p.style_h2_accent {
    font-size: 7rem;
  }
  #s4 p.style_body {
    font-size: 3rem;
  }

  /* ---------s5 */

  #s5 p.style_h2_accent,
  #s5 p.style_h3_accent {
    font-size: 3rem;
  }

  #s5 .style_body {
    font-size: 2.4rem;
  }

  #s5 p.style_h1_accent {
    font-size: 15rem;
  }

  /* -------s7 */
  #volume {
    font-size: 2rem;
  }
  #percentage {
    font-size: 20rem;
  }

  /* -------s8 */

  #FAO {
    font-size: 3rem;
  }
  #distinction {
    font-size: 2.2rem;
  }

  /* ------s9 */
  #poor p.style_h3_accent {
    font-size: 2.5rem;
  }
  #rich p {
    font-size: 2.5rem;
  }

  #rich span.style_h3_accent {
    font-size: 3.5rem;
  }

  /* ------s10 */
  #s10 {
    font-size: 3rem;
  }

  #question {
    font-size: 3rem;
  }

  #wasteValue {
    font-size: 30rem;
  }

  /* -----s12 */
  #s12 p {
    font-size: 3.5rem;
  }
}
